name: Build ISO image

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install deps
      run: sudo apt install xorriso grub2-common build-essential mtools
    - name: make
      run: make iso -j$(nproc) TOOLPREFIX=" "
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: microunixiso
        path: microunix.iso
          
